@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6unul7');
  src:  url('../fonts/icomoon.eot?6unul7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6unul7') format('truetype'),
    url('../fonts/icomoon.woff?6unul7') format('woff'),
    url('../fonts/icomoon.svg?6unul7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
    font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle !important;    

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}
.icon-airplay:before {
  content: "\e901";
}
.icon-alert-circle:before {
  content: "\e902";
}
.icon-alert-octagon:before {
  content: "\e903";
}
.icon-alert-triangle:before {
  content: "\e904";
}
.icon-align-center:before {
  content: "\e905";
}
.icon-align-justify:before {
  content: "\e906";
}
.icon-align-left:before {
  content: "\e907";
}
.icon-align-right:before {
  content: "\e908";
}
.icon-anchor:before {
  content: "\e909";
}
.icon-aperture:before {
  content: "\e90a";
}
.icon-archive:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e90c";
}
.icon-arrow-down-circle:before {
  content: "\e90d";
}
.icon-arrow-down-left:before {
  content: "\e90e";
}
.icon-arrow-down-right:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-arrow-left-circle:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-arrow-right-circle:before {
  content: "\e913";
}
.icon-arrow-up:before {
  content: "\e914";
}
.icon-arrow-up-circle:before {
  content: "\e915";
}
.icon-arrow-up-left:before {
  content: "\e916";
}
.icon-arrow-up-right:before {
  content: "\e917";
}
.icon-at-sign:before {
  content: "\e918";
}
.icon-award:before {
  content: "\e919";
}
.icon-bar-chart:before {
  content: "\e91a";
}
.icon-bar-chart-2:before {
  content: "\e91b";
}
.icon-battery:before {
  content: "\e91c";
}
.icon-battery-charging:before {
  content: "\e91d";
}
.icon-bell:before {
  content: "\e91e";
}
.icon-bell-off:before {
  content: "\e91f";
}
.icon-bluetooth:before {
  content: "\e920";
}
.icon-bold:before {
  content: "\e921";
}
.icon-book:before {
  content: "\e922";
}
.icon-book-open:before {
  content: "\e923";
}
.icon-bookmark:before {
  content: "\e924";
}
.icon-box:before {
  content: "\e925";
}
.icon-briefcase:before {
  content: "\e926";
}
.icon-calendar:before {
  content: "\e927";
}
.icon-camera:before {
  content: "\e928";
}
.icon-camera-off:before {
  content: "\e929";
}
.icon-cast:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e92b";
}
.icon-check-circle:before {
  content: "\e92c";
}
.icon-check-square:before {
  content: "\e92d";
}
.icon-chevron-down:before {
  content: "\e92e";
}
.icon-chevron-left:before {
  content: "\e92f";
}
.icon-chevron-right:before {
  content: "\e930";
}
.icon-chevron-up:before {
  content: "\e931";
}
.icon-chevrons-down:before {
  content: "\e932";
}
.icon-chevrons-left:before {
  content: "\e933";
}
.icon-chevrons-right:before {
  content: "\e934";
}
.icon-chevrons-up:before {
  content: "\e935";
}
.icon-chrome:before {
  content: "\e936";
}
.icon-circle:before {
  content: "\e937";
}
.icon-clipboard:before {
  content: "\e938";
}
.icon-clock:before {
  content: "\e939";
}
.icon-cloud:before {
  content: "\e93a";
}
.icon-cloud-drizzle:before {
  content: "\e93b";
}
.icon-cloud-lightning:before {
  content: "\e93c";
}
.icon-cloud-off:before {
  content: "\e93d";
}
.icon-cloud-rain:before {
  content: "\e93e";
}
.icon-cloud-snow:before {
  content: "\e93f";
}
.icon-code:before {
  content: "\e940";
}
.icon-codepen:before {
  content: "\e941";
}
.icon-codesandbox:before {
  content: "\e942";
}
.icon-coffee:before {
  content: "\e943";
}
.icon-columns:before {
  content: "\e944";
}
.icon-command:before {
  content: "\e945";
}
.icon-compass:before {
  content: "\e946";
}
.icon-copy:before {
  content: "\e947";
}
.icon-corner-down-left:before {
  content: "\e948";
}
.icon-corner-down-right:before {
  content: "\e949";
}
.icon-corner-left-down:before {
  content: "\e94a";
}
.icon-corner-left-up:before {
  content: "\e94b";
}
.icon-corner-right-down:before {
  content: "\e94c";
}
.icon-corner-right-up:before {
  content: "\e94d";
}
.icon-corner-up-left:before {
  content: "\e94e";
}
.icon-corner-up-right:before {
  content: "\e94f";
}
.icon-cpu:before {
  content: "\e950";
}
.icon-credit-card:before {
  content: "\e951";
}
.icon-crop:before {
  content: "\e952";
}
.icon-crosshair:before {
  content: "\e953";
}
.icon-database:before {
  content: "\e954";
}
.icon-delete:before {
  content: "\e955";
}
.icon-disc:before {
  content: "\e956";
}
.icon-dollar-sign:before {
  content: "\e957";
}
.icon-download:before {
  content: "\e958";
}
.icon-download-cloud:before {
  content: "\e959";
}
.icon-droplet:before {
  content: "\e95a";
}
.icon-edit:before {
  content: "\e95b";
}
.icon-edit-2:before {
  content: "\e95c";
}
.icon-edit-3:before {
  content: "\e95d";
}
.icon-external-link:before {
  content: "\e95e";
}
.icon-eye:before {
  content: "\e95f";
}
.icon-eye-off:before {
  content: "\e960";
}
.icon-facebook:before {
  content: "\e961";
}
.icon-fast-forward:before {
  content: "\e962";
}
.icon-feather:before {
  content: "\e963";
}
.icon-figma:before {
  content: "\e964";
}
.icon-file:before {
  content: "\e965";
}
.icon-file-minus:before {
  content: "\e966";
}
.icon-file-plus:before {
  content: "\e967";
}
.icon-file-text:before {
  content: "\e968";
}
.icon-film:before {
  content: "\e969";
}
.icon-filter:before {
  content: "\e96a";
}
.icon-flag:before {
  content: "\e96b";
}
.icon-folder:before {
  content: "\e96c";
}
.icon-folder-minus:before {
  content: "\e96d";
}
.icon-folder-plus:before {
  content: "\e96e";
}
.icon-framer:before {
  content: "\e96f";
}
.icon-frown:before {
  content: "\e970";
}
.icon-gift:before {
  content: "\e971";
}
.icon-git-branch:before {
  content: "\e972";
}
.icon-git-commit:before {
  content: "\e973";
}
.icon-git-merge:before {
  content: "\e974";
}
.icon-git-pull-request:before {
  content: "\e975";
}
.icon-github:before {
  content: "\e976";
}
.icon-gitlab:before {
  content: "\e977";
}
.icon-globe:before {
  content: "\e978";
}
.icon-grid:before {
  content: "\e979";
}
.icon-hard-drive:before {
  content: "\e97a";
}
.icon-hash:before {
  content: "\e97b";
}
.icon-headphones:before {
  content: "\e97c";
}
.icon-heart:before {
  content: "\e97d";
}
.icon-help-circle:before {
  content: "\e97e";
}
.icon-hexagon:before {
  content: "\e97f";
}
.icon-home:before {
  content: "\e980";
}
.icon-image:before {
  content: "\e981";
}
.icon-inbox:before {
  content: "\e982";
}
.icon-info:before {
  content: "\e983";
}
.icon-instagram:before {
  content: "\e984";
}
.icon-italic:before {
  content: "\e985";
}
.icon-key:before {
  content: "\e986";
}
.icon-layers:before {
  content: "\e987";
}
.icon-layout:before {
  content: "\e988";
}
.icon-life-buoy:before {
  content: "\e989";
}
.icon-link:before {
  content: "\e98a";
}
.icon-link-2:before {
  content: "\e98b";
}
.icon-linkedin:before {
  content: "\e98c";
}
.icon-list:before {
  content: "\e98d";
}
.icon-loader:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-log-in:before {
  content: "\e990";
}
.icon-log-out:before {
  content: "\e991";
}
.icon-mail:before {
  content: "\e992";
}
.icon-map:before {
  content: "\e993";
}
.icon-map-pin:before {
  content: "\e994";
}
.icon-maximize:before {
  content: "\e995";
}
.icon-maximize-2:before {
  content: "\e996";
}
.icon-meh:before {
  content: "\e997";
}
.icon-menu:before {
  content: "\e998";
}
.icon-message-circle:before {
  content: "\e999";
}
.icon-message-square:before {
  content: "\e99a";
}
.icon-mic:before {
  content: "\e99b";
}
.icon-mic-off:before {
  content: "\e99c";
}
.icon-minimize:before {
  content: "\e99d";
}
.icon-minimize-2:before {
  content: "\e99e";
}
.icon-minus:before {
  content: "\e99f";
}
.icon-minus-circle:before {
  content: "\e9a0";
}
.icon-minus-square:before {
  content: "\e9a1";
}
.icon-monitor:before {
  content: "\e9a2";
}
.icon-moon:before {
  content: "\e9a3";
}
.icon-more-horizontal:before {
  content: "\e9a4";
}
.icon-more-vertical:before {
  content: "\e9a5";
}
.icon-mouse-pointer:before {
  content: "\e9a6";
}
.icon-move:before {
  content: "\e9a7";
}
.icon-music:before {
  content: "\e9a8";
}
.icon-navigation:before {
  content: "\e9a9";
}
.icon-navigation-2:before {
  content: "\e9aa";
}
.icon-octagon:before {
  content: "\e9ab";
}
.icon-package:before {
  content: "\e9ac";
}
.icon-paperclip:before {
  content: "\e9ad";
}
.icon-pause:before {
  content: "\e9ae";
}
.icon-pause-circle:before {
  content: "\e9af";
}
.icon-pen-tool:before {
  content: "\e9b0";
}
.icon-percent:before {
  content: "\e9b1";
}
.icon-phone:before {
  content: "\e9b2";
}
.icon-phone-call:before {
  content: "\e9b3";
}
.icon-phone-forwarded:before {
  content: "\e9b4";
}
.icon-phone-incoming:before {
  content: "\e9b5";
}
.icon-phone-missed:before {
  content: "\e9b6";
}
.icon-phone-off:before {
  content: "\e9b7";
}
.icon-phone-outgoing:before {
  content: "\e9b8";
}
.icon-pie-chart:before {
  content: "\e9b9";
}
.icon-play:before {
  content: "\e9ba";
}
.icon-play-circle:before {
  content: "\e9bb";
}
.icon-plus:before {
  content: "\e9bc";
}
.icon-plus-circle:before {
  content: "\e9bd";
}
.icon-plus-square:before {
  content: "\e9be";
}
.icon-pocket:before {
  content: "\e9bf";
}
.icon-power:before {
  content: "\e9c0";
}
.icon-printer:before {
  content: "\e9c1";
}
.icon-radio:before {
  content: "\e9c2";
}
.icon-refresh-ccw:before {
  content: "\e9c3";
}
.icon-refresh-cw:before {
  content: "\e9c4";
}
.icon-repeat:before {
  content: "\e9c5";
}
.icon-rewind:before {
  content: "\e9c6";
}
.icon-rotate-ccw:before {
  content: "\e9c7";
}
.icon-rotate-cw:before {
  content: "\e9c8";
}
.icon-rss:before {
  content: "\e9c9";
}
.icon-save:before {
  content: "\e9ca";
}
.icon-scissors:before {
  content: "\e9cb";
}
.icon-search:before {
  content: "\e9cc";
}
.icon-send:before {
  content: "\e9cd";
}
.icon-server:before {
  content: "\e9ce";
}
.icon-settings:before {
  content: "\e9cf";
}
.icon-share:before {
  content: "\e9d0";
}
.icon-share-2:before {
  content: "\e9d1";
}
.icon-shield:before {
  content: "\e9d2";
}
.icon-shield-off:before {
  content: "\e9d3";
}
.icon-shopping-bag:before {
  content: "\e9d4";
}
.icon-shopping-cart:before {
  content: "\e9d5";
}
.icon-shuffle:before {
  content: "\e9d6";
}
.icon-sidebar:before {
  content: "\e9d7";
}
.icon-skip-back:before {
  content: "\e9d8";
}
.icon-skip-forward:before {
  content: "\e9d9";
}
.icon-slack:before {
  content: "\e9da";
}
.icon-slash:before {
  content: "\e9db";
}
.icon-sliders:before {
  content: "\e9dc";
}
.icon-smartphone:before {
  content: "\e9dd";
}
.icon-smile:before {
  content: "\e9de";
}
.icon-speaker:before {
  content: "\e9df";
}
.icon-square:before {
  content: "\e9e0";
}
.icon-star:before {
  content: "\e9e1";
}
.icon-stop-circle:before {
  content: "\e9e2";
}
.icon-sun:before {
  content: "\e9e3";
}
.icon-sunrise:before {
  content: "\e9e4";
}
.icon-sunset:before {
  content: "\e9e5";
}
.icon-tablet:before {
  content: "\e9e6";
}
.icon-tag:before {
  content: "\e9e7";
}
.icon-target:before {
  content: "\e9e8";
}
.icon-terminal:before {
  content: "\e9e9";
}
.icon-thermometer:before {
  content: "\e9ea";
}
.icon-thumbs-down:before {
  content: "\e9eb";
}
.icon-thumbs-up:before {
  content: "\e9ec";
}
.icon-toggle-left:before {
  content: "\e9ed";
}
.icon-toggle-right:before {
  content: "\e9ee";
}
.icon-tool:before {
  content: "\e9ef";
}
.icon-trash:before {
  content: "\e9f0";
}
.icon-trash-2:before {
  content: "\e9f1";
}
.icon-trello:before {
  content: "\e9f2";
}
.icon-trending-down:before {
  content: "\e9f3";
}
.icon-trending-up:before {
  content: "\e9f4";
}
.icon-triangle:before {
  content: "\e9f5";
}
.icon-truck:before {
  content: "\e9f6";
}
.icon-tv:before {
  content: "\e9f7";
}
.icon-twitch:before {
  content: "\e9f8";
}
.icon-twitter:before {
  content: "\e9f9";
}
.icon-type:before {
  content: "\e9fa";
}
.icon-umbrella:before {
  content: "\e9fb";
}
.icon-underline:before {
  content: "\e9fc";
}
.icon-unlock:before {
  content: "\e9fd";
}
.icon-upload:before {
  content: "\e9fe";
}
.icon-upload-cloud:before {
  content: "\e9ff";
}
.icon-user:before {
  content: "\ea00";
}
.icon-user-check:before {
  content: "\ea01";
}
.icon-user-minus:before {
  content: "\ea02";
}
.icon-user-plus:before {
  content: "\ea03";
}
.icon-user-x:before {
  content: "\ea04";
}
.icon-users:before {
  content: "\ea05";
}
.icon-video:before {
  content: "\ea06";
}
.icon-video-off:before {
  content: "\ea07";
}
.icon-voicemail:before {
  content: "\ea08";
}
.icon-volume:before {
  content: "\ea09";
}
.icon-volume-1:before {
  content: "\ea0a";
}
.icon-volume-2:before {
  content: "\ea0b";
}
.icon-volume-x:before {
  content: "\ea0c";
}
.icon-watch:before {
  content: "\ea0d";
}
.icon-wifi:before {
  content: "\ea0e";
}
.icon-wifi-off:before {
  content: "\ea0f";
}
.icon-wind:before {
  content: "\ea10";
}
.icon-x:before {
  content: "\ea11";
}
.icon-x-circle:before {
  content: "\ea12";
}
.icon-x-octagon:before {
  content: "\ea13";
}
.icon-x-square:before {
  content: "\ea14";
}
.icon-youtube:before {
  content: "\ea15";
}
.icon-zap:before {
  content: "\ea16";
}
.icon-zap-off:before {
  content: "\ea17";
}
.icon-zoom-in:before {
  content: "\ea18";
}
.icon-zoom-out:before {
  content: "\ea19";
}
.icon-times:before {
  content: "\ea1a";
}
.icon-tick:before {
  content: "\ea1b";
}
.icon-plus1:before {
  content: "\ea1c";
}
.icon-minus1:before {
  content: "\ea1d";
}
.icon-equals:before {
  content: "\ea1e";
}
.icon-divide:before {
  content: "\ea1f";
}
.icon-chevron-right1:before {
  content: "\ea20";
}
.icon-chevron-left1:before {
  content: "\ea21";
}
.icon-arrow-right-thick:before {
  content: "\ea22";
}
.icon-arrow-left-thick:before {
  content: "\ea23";
}
.icon-th-small:before {
  content: "\ea24";
}
.icon-th-menu:before {
  content: "\ea25";
}
.icon-th-list:before {
  content: "\ea26";
}
.icon-th-large:before {
  content: "\ea27";
}
.icon-home1:before {
  content: "\ea28";
}
.icon-arrow-forward:before {
  content: "\ea29";
}
.icon-arrow-back:before {
  content: "\ea2a";
}
.icon-rss1:before {
  content: "\ea2b";
}
.icon-location:before {
  content: "\ea2c";
}
.icon-link1:before {
  content: "\ea2d";
}
.icon-image1:before {
  content: "\ea2e";
}
.icon-arrow-up-thick:before {
  content: "\ea2f";
}
.icon-arrow-down-thick:before {
  content: "\ea30";
}
.icon-starburst:before {
  content: "\ea31";
}
.icon-starburst-outline:before {
  content: "\ea32";
}
.icon-star1:before {
  content: "\ea33";
}
.icon-flow-children:before {
  content: "\ea34";
}
.icon-export:before {
  content: "\ea35";
}
.icon-delete1:before {
  content: "\ea36";
}
.icon-delete-outline:before {
  content: "\ea37";
}
.icon-cloud-storage:before {
  content: "\ea38";
}
.icon-wi-fi:before {
  content: "\ea39";
}
.icon-heart1:before {
  content: "\ea3a";
}
.icon-flash:before {
  content: "\ea3b";
}
.icon-cancel:before {
  content: "\ea3c";
}
.icon-backspace:before {
  content: "\ea3d";
}
.icon-attachment:before {
  content: "\ea3e";
}
.icon-arrow-move:before {
  content: "\ea3f";
}
.icon-warning:before {
  content: "\ea40";
}
.icon-user1:before {
  content: "\ea41";
}
.icon-radar:before {
  content: "\ea42";
}
.icon-lock-open:before {
  content: "\ea43";
}
.icon-lock-closed:before {
  content: "\ea44";
}
.icon-location-arrow:before {
  content: "\ea45";
}
.icon-info1:before {
  content: "\ea46";
}
.icon-user-delete:before {
  content: "\ea47";
}
.icon-user-add:before {
  content: "\ea48";
}
.icon-media-pause:before {
  content: "\ea49";
}
.icon-group:before {
  content: "\ea4a";
}
.icon-chart-pie:before {
  content: "\ea4b";
}
.icon-chart-line:before {
  content: "\ea4c";
}
.icon-chart-bar:before {
  content: "\ea4d";
}
.icon-chart-area:before {
  content: "\ea4e";
}
.icon-video1:before {
  content: "\ea4f";
}
.icon-point-of-interest:before {
  content: "\ea50";
}
.icon-infinity:before {
  content: "\ea51";
}
.icon-globe1:before {
  content: "\ea52";
}
.icon-eye1:before {
  content: "\ea53";
}
.icon-cog:before {
  content: "\ea54";
}
.icon-camera1:before {
  content: "\ea55";
}
.icon-upload1:before {
  content: "\ea56";
}
.icon-scissors1:before {
  content: "\ea57";
}
.icon-refresh:before {
  content: "\ea58";
}
.icon-pin:before {
  content: "\ea59";
}
.icon-key1:before {
  content: "\ea5a";
}
.icon-info-large:before {
  content: "\ea5b";
}
.icon-eject:before {
  content: "\ea5c";
}
.icon-download1:before {
  content: "\ea5d";
}
.icon-zoom:before {
  content: "\ea5e";
}
.icon-zoom-out1:before {
  content: "\ea5f";
}
.icon-zoom-in1:before {
  content: "\ea60";
}
.icon-sort-numerically:before {
  content: "\ea61";
}
.icon-sort-alphabetically:before {
  content: "\ea62";
}
.icon-input-checked:before {
  content: "\ea63";
}
.icon-calender:before {
  content: "\ea64";
}
.icon-world:before {
  content: "\ea65";
}
.icon-notes:before {
  content: "\ea66";
}
.icon-code1:before {
  content: "\ea67";
}
.icon-arrow-sync:before {
  content: "\ea68";
}
.icon-arrow-shuffle:before {
  content: "\ea69";
}
.icon-arrow-repeat:before {
  content: "\ea6a";
}
.icon-arrow-minimise:before {
  content: "\ea6b";
}
.icon-arrow-maximise:before {
  content: "\ea6c";
}
.icon-arrow-loop:before {
  content: "\ea6d";
}
.icon-anchor1:before {
  content: "\ea6e";
}
.icon-spanner:before {
  content: "\ea6f";
}
.icon-puzzle:before {
  content: "\ea70";
}
.icon-power1:before {
  content: "\ea71";
}
.icon-plane:before {
  content: "\ea72";
}
.icon-pi:before {
  content: "\ea73";
}
.icon-phone1:before {
  content: "\ea74";
}
.icon-microphone:before {
  content: "\ea75";
}
.icon-media-rewind:before {
  content: "\ea76";
}
.icon-flag1:before {
  content: "\ea77";
}
.icon-adjust-brightness:before {
  content: "\ea78";
}
.icon-waves:before {
  content: "\ea79";
}
.icon-social-twitter:before {
  content: "\ea7a";
}
.icon-social-facebook:before {
  content: "\ea7b";
}
.icon-social-dribbble:before {
  content: "\ea7c";
}
.icon-media-stop:before {
  content: "\ea7d";
}
.icon-media-record:before {
  content: "\ea7e";
}
.icon-media-play:before {
  content: "\ea7f";
}
.icon-media-fast-forward:before {
  content: "\ea80";
}
.icon-media-eject:before {
  content: "\ea81";
}
.icon-social-vimeo:before {
  content: "\ea82";
}
.icon-social-tumbler:before {
  content: "\ea83";
}
.icon-social-skype:before {
  content: "\ea84";
}
.icon-social-pinterest:before {
  content: "\ea85";
}
.icon-social-linkedin:before {
  content: "\ea86";
}
.icon-social-last-fm:before {
  content: "\ea87";
}
.icon-social-github:before {
  content: "\ea88";
}
.icon-social-flickr:before {
  content: "\ea89";
}
.icon-at:before {
  content: "\ea8a";
}
.icon-times-outline:before {
  content: "\ea8b";
}
.icon-plus-outline:before {
  content: "\ea8c";
}
.icon-minus-outline:before {
  content: "\ea8d";
}
.icon-tick-outline:before {
  content: "\ea8e";
}
.icon-th-large-outline:before {
  content: "\ea8f";
}
.icon-equals-outline:before {
  content: "\ea90";
}
.icon-divide-outline:before {
  content: "\ea91";
}
.icon-chevron-right-outline:before {
  content: "\ea92";
}
.icon-chevron-left-outline:before {
  content: "\ea93";
}
.icon-arrow-right-outline:before {
  content: "\ea94";
}
.icon-arrow-left-outline:before {
  content: "\ea95";
}
.icon-th-small-outline:before {
  content: "\ea96";
}
.icon-th-menu-outline:before {
  content: "\ea97";
}
.icon-th-list-outline:before {
  content: "\ea98";
}
.icon-news:before {
  content: "\ea99";
}
.icon-home-outline:before {
  content: "\ea9a";
}
.icon-arrow-up-outline:before {
  content: "\ea9b";
}
.icon-arrow-forward-outline:before {
  content: "\ea9c";
}
.icon-arrow-down-outline:before {
  content: "\ea9d";
}
.icon-arrow-back-outline:before {
  content: "\ea9e";
}
.icon-trash1:before {
  content: "\ea9f";
}
.icon-rss-outline:before {
  content: "\eaa0";
}
.icon-message:before {
  content: "\eaa1";
}
.icon-location-outline:before {
  content: "\eaa2";
}
.icon-link-outline:before {
  content: "\eaa3";
}
.icon-image-outline:before {
  content: "\eaa4";
}
.icon-export-outline:before {
  content: "\eaa5";
}
.icon-cross:before {
  content: "\eaa6";
}
.icon-wi-fi-outline:before {
  content: "\eaa7";
}
.icon-star-outline:before {
  content: "\eaa8";
}
.icon-media-pause-outline:before {
  content: "\eaa9";
}
.icon-mail1:before {
  content: "\eaaa";
}
.icon-heart-outline:before {
  content: "\eaab";
}
.icon-flash-outline:before {
  content: "\eaac";
}
.icon-cancel-outline:before {
  content: "\eaad";
}
.icon-beaker:before {
  content: "\eaae";
}
.icon-arrow-move-outline:before {
  content: "\eaaf";
}
.icon-watch1:before {
  content: "\eab0";
}
.icon-warning-outline:before {
  content: "\eab1";
}
.icon-time:before {
  content: "\eab2";
}
.icon-radar-outline:before {
  content: "\eab3";
}
.icon-lock-open-outline:before {
  content: "\eab4";
}
.icon-location-arrow-outline:before {
  content: "\eab5";
}
.icon-info-outline:before {
  content: "\eab6";
}
.icon-backspace-outline:before {
  content: "\eab7";
}
.icon-attachment-outline:before {
  content: "\eab8";
}
.icon-user-outline:before {
  content: "\eab9";
}
.icon-user-delete-outline:before {
  content: "\eaba";
}
.icon-user-add-outline:before {
  content: "\eabb";
}
.icon-lock-closed-outline:before {
  content: "\eabc";
}
.icon-group-outline:before {
  content: "\eabd";
}
.icon-chart-pie-outline:before {
  content: "\eabe";
}
.icon-chart-line-outline:before {
  content: "\eabf";
}
.icon-chart-bar-outline:before {
  content: "\eac0";
}
.icon-chart-area-outline:before {
  content: "\eac1";
}
.icon-video-outline:before {
  content: "\eac2";
}
.icon-point-of-interest-outline:before {
  content: "\eac3";
}
.icon-map1:before {
  content: "\eac4";
}
.icon-key-outline:before {
  content: "\eac5";
}
.icon-infinity-outline:before {
  content: "\eac6";
}
.icon-globe-outline:before {
  content: "\eac7";
}
.icon-eye-outline:before {
  content: "\eac8";
}
.icon-cog-outline:before {
  content: "\eac9";
}
.icon-camera-outline:before {
  content: "\eaca";
}
.icon-upload-outline:before {
  content: "\eacb";
}
.icon-support:before {
  content: "\eacc";
}
.icon-scissors-outline:before {
  content: "\eacd";
}
.icon-refresh-outline:before {
  content: "\eace";
}
.icon-info-large-outline:before {
  content: "\eacf";
}
.icon-eject-outline:before {
  content: "\ead0";
}
.icon-download-outline:before {
  content: "\ead1";
}
.icon-battery-mid:before {
  content: "\ead2";
}
.icon-battery-low:before {
  content: "\ead3";
}
.icon-battery-high:before {
  content: "\ead4";
}
.icon-zoom-outline:before {
  content: "\ead5";
}
.icon-zoom-out-outline:before {
  content: "\ead6";
}
.icon-zoom-in-outline:before {
  content: "\ead7";
}
.icon-tag1:before {
  content: "\ead8";
}
.icon-tabs-outline:before {
  content: "\ead9";
}
.icon-pin-outline:before {
  content: "\eada";
}
.icon-message-typing:before {
  content: "\eadb";
}
.icon-directions:before {
  content: "\eadc";
}
.icon-battery-full:before {
  content: "\eadd";
}
.icon-battery-charge:before {
  content: "\eade";
}
.icon-pipette:before {
  content: "\eadf";
}
.icon-pencil:before {
  content: "\eae0";
}
.icon-folder1:before {
  content: "\eae1";
}
.icon-folder-delete:before {
  content: "\eae2";
}
.icon-folder-add:before {
  content: "\eae3";
}
.icon-edit1:before {
  content: "\eae4";
}
.icon-document:before {
  content: "\eae5";
}
.icon-document-delete:before {
  content: "\eae6";
}
.icon-document-add:before {
  content: "\eae7";
}
.icon-brush:before {
  content: "\eae8";
}
.icon-thumbs-up1:before {
  content: "\eae9";
}
.icon-thumbs-down1:before {
  content: "\eaea";
}
.icon-pen:before {
  content: "\eaeb";
}
.icon-sort-numerically-outline:before {
  content: "\eaec";
}
.icon-sort-alphabetically-outline:before {
  content: "\eaed";
}
.icon-social-last-fm-circular:before {
  content: "\eaee";
}
.icon-social-github-circular:before {
  content: "\eaef";
}
.icon-compass1:before {
  content: "\eaf0";
}
.icon-bookmark1:before {
  content: "\eaf1";
}
.icon-input-checked-outline:before {
  content: "\eaf2";
}
.icon-code-outline:before {
  content: "\eaf3";
}
.icon-calender-outline:before {
  content: "\eaf4";
}
.icon-business-card:before {
  content: "\eaf5";
}
.icon-arrow-up1:before {
  content: "\eaf6";
}
.icon-arrow-sync-outline:before {
  content: "\eaf7";
}
.icon-arrow-right1:before {
  content: "\eaf8";
}
.icon-arrow-repeat-outline:before {
  content: "\eaf9";
}
.icon-arrow-loop-outline:before {
  content: "\eafa";
}
.icon-arrow-left1:before {
  content: "\eafb";
}
.icon-flow-switch:before {
  content: "\eafc";
}
.icon-flow-parallel:before {
  content: "\eafd";
}
.icon-flow-merge:before {
  content: "\eafe";
}
.icon-document-text:before {
  content: "\eaff";
}
.icon-clipboard1:before {
  content: "\eb00";
}
.icon-calculator:before {
  content: "\eb01";
}
.icon-arrow-minimise-outline:before {
  content: "\eb02";
}
.icon-arrow-maximise-outline:before {
  content: "\eb03";
}
.icon-arrow-down1:before {
  content: "\eb04";
}
.icon-gift1:before {
  content: "\eb05";
}
.icon-film1:before {
  content: "\eb06";
}
.icon-database1:before {
  content: "\eb07";
}
.icon-bell1:before {
  content: "\eb08";
}
.icon-anchor-outline:before {
  content: "\eb09";
}
.icon-adjust-contrast:before {
  content: "\eb0a";
}
.icon-world-outline:before {
  content: "\eb0b";
}
.icon-shopping-bag1:before {
  content: "\eb0c";
}
.icon-power-outline:before {
  content: "\eb0d";
}
.icon-notes-outline:before {
  content: "\eb0e";
}
.icon-device-tablet:before {
  content: "\eb0f";
}
.icon-device-phone:before {
  content: "\eb10";
}
.icon-device-laptop:before {
  content: "\eb11";
}
.icon-device-desktop:before {
  content: "\eb12";
}
.icon-briefcase1:before {
  content: "\eb13";
}
.icon-stopwatch:before {
  content: "\eb14";
}
.icon-spanner-outline:before {
  content: "\eb15";
}
.icon-puzzle-outline:before {
  content: "\eb16";
}
.icon-printer1:before {
  content: "\eb17";
}
.icon-pi-outline:before {
  content: "\eb18";
}
.icon-lightbulb:before {
  content: "\eb19";
}
.icon-flag-outline:before {
  content: "\eb1a";
}
.icon-contacts:before {
  content: "\eb1b";
}
.icon-archive1:before {
  content: "\eb1c";
}
.icon-weather-stormy:before {
  content: "\eb1d";
}
.icon-weather-shower:before {
  content: "\eb1e";
}
.icon-weather-partly-sunny:before {
  content: "\eb1f";
}
.icon-weather-downpour:before {
  content: "\eb20";
}
.icon-weather-cloudy:before {
  content: "\eb21";
}
.icon-plane-outline:before {
  content: "\eb22";
}
.icon-phone-outline:before {
  content: "\eb23";
}
.icon-microphone-outline:before {
  content: "\eb24";
}
.icon-weather-windy:before {
  content: "\eb25";
}
.icon-weather-windy-cloudy:before {
  content: "\eb26";
}
.icon-weather-sunny:before {
  content: "\eb27";
}
.icon-weather-snow:before {
  content: "\eb28";
}
.icon-weather-night:before {
  content: "\eb29";
}
.icon-media-stop-outline:before {
  content: "\eb2a";
}
.icon-media-rewind-outline:before {
  content: "\eb2b";
}
.icon-media-record-outline:before {
  content: "\eb2c";
}
.icon-media-play-outline:before {
  content: "\eb2d";
}
.icon-media-fast-forward-outline:before {
  content: "\eb2e";
}
.icon-media-eject-outline:before {
  content: "\eb2f";
}
.icon-wine:before {
  content: "\eb30";
}
.icon-waves-outline:before {
  content: "\eb31";
}
.icon-ticket:before {
  content: "\eb32";
}
.icon-tags:before {
  content: "\eb33";
}
.icon-plug:before {
  content: "\eb34";
}
.icon-headphones1:before {
  content: "\eb35";
}
.icon-credit-card1:before {
  content: "\eb36";
}
.icon-coffee1:before {
  content: "\eb37";
}
.icon-book1:before {
  content: "\eb38";
}
.icon-beer:before {
  content: "\eb39";
}
.icon-volume1:before {
  content: "\eb3a";
}
.icon-volume-up:before {
  content: "\eb3b";
}
.icon-volume-mute:before {
  content: "\eb3c";
}
.icon-volume-down:before {
  content: "\eb3d";
}
.icon-social-vimeo-circular:before {
  content: "\eb3e";
}
.icon-social-twitter-circular:before {
  content: "\eb3f";
}
.icon-social-pinterest-circular:before {
  content: "\eb40";
}
.icon-social-linkedin-circular:before {
  content: "\eb41";
}
.icon-social-facebook-circular:before {
  content: "\eb42";
}
.icon-social-dribbble-circular:before {
  content: "\eb43";
}
.icon-tree:before {
  content: "\eb44";
}
.icon-thermometer1:before {
  content: "\eb45";
}
.icon-social-tumbler-circular:before {
  content: "\eb46";
}
.icon-social-skype-outline:before {
  content: "\eb47";
}
.icon-social-flickr-circular:before {
  content: "\eb48";
}
.icon-social-at-circular:before {
  content: "\eb49";
}
.icon-shopping-cart1:before {
  content: "\eb4a";
}
.icon-messages:before {
  content: "\eb4b";
}
.icon-leaf:before {
  content: "\eb4c";
}
.icon-feather1:before {
  content: "\eb4d";
}