@charset "utf-8";
/* CSS Document */
html, body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.modal-backdrop.show {
    opacity: 0.8;
}

.offcanvas-top {
    height: auto;
    bottom: unset;
}

.offcanvas-top .btn-close{
    width: unset;
    height: unset;
    background: transparent;
    padding: unset;
    margin: unset;
    opacity: 1;
}

.modal-open .modal {
    background-color: rgba(0,0,0,0.8);
}
.modal-backdrop.show {
    opacity: 0;
}

.form-switch.swt-md .form-check-input {
    width: 3em;
    height: 1.5em;
}

.form-switch.swt-lg .form-check-input {
    width: 4em;
    height: 2em;
}

.bt-menu:hover, .bt-menu.active {
	color: #F71140;
}

.form-check-input.chk-secondary:not(.is-valid):not(.is-invalid):checked {
    border-color: #6C757D;
    background-color: #6C757D;
}
.form-check-input.chk-success:not(.is-valid):not(.is-invalid):checked {
    border-color: #198754;
    background-color: #198754;
}
.form-check-input.chk-danger:not(.is-valid):not(.is-invalid):checked {
    border-color: #F71140;
    background-color: #F71140;
}
.form-check-input.chk-warning:not(.is-valid):not(.is-invalid):checked {
    border-color: #FFC107;
    background-color: #FFC107;
}
.form-check-input.chk-info:not(.is-valid):not(.is-invalid):checked {
    border-color: #0dcaf0;
    background-color: #0dcaf0;
}

.input-group .sp-original-input-container.sp-colorize-container {
    flex: 1 1 auto;
    border-radius: 0.5rem;
}
.input-group input.spectrum.sp-colorize {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.file-input.theme-fas {
    flex: 1 1 auto;
}
.file-input.theme-fas .file-drop-zone{
    min-height: unset;
}
.file-input.theme-fas .file-drop-zone .file-drop-zone-title {
    font-size: 0.9em;
}
.file-input.theme-fas .file-drop-zone .file-preview-thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recap > div {
    height: 64px !important;
}

.recerror .parsley-errors-list.filled {
    display: inline-block;
}

.recap > div > div {
	-webkit-transform: scale(0.77);
	-ms-transform: scale(0.77);
	-moz-transform: scale(0.77);
	transform: scale(0.77);
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	-moz-transform-origin: top;
	transform-origin: top;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

#loader {
	overflow: hidden;
	display: flex;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.6);
	z-index: 99999;
}

#menu {
	overflow: hidden;
	display: flex;
	top: 0px;
	left: 0px;	
	z-index: 99999;
}

#barra_nav {
    z-index: 1030;
}

.log-in {
    display: none;
}

.dropdown-toggle.dropdown-noarrow::after {
    content: none;
}

.text-responsive {
	font-size: 80%;
	display: block;
}

.gray-100 {
    background-color: #f8f9fa;
}
.gray-200 {
    background-color: #e9ecef;
}
.gray-300 {
    background-color: #dee2e6;
}
.gray-400 {
    background-color: #ced4da;
}
.gray-500 {
    background-color: #adb5bd;
}
.gray-600 {
    background-color: #6c757d;
}
.gray-700 {
    background-color: #495057;
}
.gray-800 {
    background-color: #343a40;
}
.gray-900 {
    background-color: #212529;
}

.form-group > .flatpickr-wrapper {
    width: 100%;
}

.fixed-size {
	width: 100% !important;
	height: auto !important;
}

.input-group {
   flex-wrap: nowrap; 
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}
.dropdown-item {
   border-top: solid 1px transparent; 
}
.dropdown-item.active, .dropdown-item:active {    
    border-top: solid 1px rgba(0, 0, 0, 0.05);
}


@media (min-width: 576px) {    
  
}
@media (min-width: 768px) {
    .text-responsive {
		font-size: 90%;
	}    
}
@media (min-width: 992px) {
    .text-responsive {
		font-size: 100%;
	}    
}
@media (min-width: 1200px) {
  
}
@media (min-width: 1400px) {
  
}

@supports(padding: max(0px)) {
    .fitCont {
        padding-left: max(0px, env(safe-area-inset-left)) !important;
        padding-right: max(0px, env(safe-area-inset-right)) !important;
    }
    .fitCont-left {
        padding-left: max(0px, env(safe-area-inset-left)) !important;        
    }
    .fitCont-right {        
        padding-right: max(0px, env(safe-area-inset-right)) !important;
    }
}
.chat:hover {
    background: #E79393;
}

